<header>
    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter">
		<div class="img image-overlay" style="background-image: url(images/cutting-worker.jpg);"></div>
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-6 py-5 bg-secondary aside-stretch">
					<div class="heading-section heading-section-white p-4 pl-md-0 py-md-5 pr-md-5">
						<span class="subheading" style="color: aliceblue;">Pearl Signs - Business Signage</span>
						<h2 class="mb-4">Bringing Your Vision to Life Across Ontario and Beyond</h2>
						<h4 style="color: aliceblue;">We don’t just make signs—we create impressions that last. From our home base in Scarborough, we proudly serve businesses across Ontario and even as far as Montreal. Whether you’re a local shop, a growing franchise, or hosting an event, we deliver custom signage solutions designed to make your brand unforgettable.</h4>
						<p style="color: aliceblue;">With a reputation for quality craftsmanship and exceptional customer service, we handle everything from storefront signs to vehicle wraps and large-scale displays. Wherever you are, we’re ready to help your business shine.</p>
					</div>
				</div>
				<div class="col-md-6 d-flex align-items-center">
					<div class="row">
						<div class="col-md-12 d-flex counter-wrap ftco-animate">
							<div class="block-18 bg-primary d-flex align-items-center justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-engineer"></span></div>
								<div class="text">
									<strong class="number" data-number="1000">0</strong>
									<span>Projects Completed</span>
								</div>
							</div>
						</div>
						<div class="col-md-12 d-flex counter-wrap ftco-animate">
							<div class="block-18 d-flex align-items-center justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-worker-1"></span></div>
								<div class="text">
									<strong class="number" data-number="936">0</strong>
									<span>Happy Customers</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</header>