<header>
    <section class="hero-wrap js-fullheight" style="background-image: url('images/floor-straight-can.png');" data-stellar-background-ratio="0.5">
		<div></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-lg-6 ftco-animate">
					<div class="mt-5" style="background-color: rgba(256,256,256,0.8);  padding: 2%;">
						<h1 class="mb-4" style="color: #FF477B; " >We Build <br>Your Business</h1>
						<p class="mb-4" style="color: #000; font-weight: bold; font-size: 24px;">Your business has a story, and our job is to help you tell it. Located in Toronto, <span style="color: #D80621;">we are a proud candian business</span> <img width="48px" src="images/canada-flag.svg"></img> with a reputation for creating signage that turns heads, sparks conversations, and drives results.</p>
						<div class="icon justify-content-center align-items-center d-flex" style="margin: 24px;"><a href="https://cansumer.ca/made-in-canada/" target="_blank" rel="noopener noreferrer"><img decoding="async" width="150px" src="https://cansumer.ca/wp-content/badges/Proudly%20Made%20in%20Canada.png" alt="Made in Canada Badge" /></a></div>
						<p><a href="services" class="btn btn-primary">Our Services</a> <a href="#" class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">Request A Quote</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>