<header>
    <div class="services-wrap ftco-animate">
        <div class="img" style="background-image: url('<%= imgurl %>');"></div>
        <div class="text">
            <h2><%= header %></h2>
            <p><%= description %></p>
        </div>
    </div>
</header>