<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pure CSS Login Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/auth.css" />
</head>

<body>

    <div class="container">
        <div class="center">
            <h1>Login</h1>
            <form action="" method="POST">
                <div class="txt_field">
                    <input id="uname" type="text" name="text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input id="pword" type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input id="authButton" type="button" value="Login">
            </form>
        </div>
    </div>
    <script>
        document.getElementById('authButton').addEventListener('click', async () => {
            const authButton = document.getElementById('authButton');
            // Disable the button to prevent multiple clicks
            authButton.disabled = true;
            authButton.value = "Authenticating...";
            try {
                // Call /auth endpoint
                const response = await fetch('/firebase/auth', {
                    method: 'POST', // Use POST since /auth is a POST endpoint
                    headers: { 'Content-Type': 'application/json' }
                });
            } catch (error) {
                console.error('Error calling /auth:', error);
            }

        });
    </script>
</body>

</html>