<header>
    <section class="ftco-section" id="about-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-stretch">
					<div class="img w-100" style="background-image: url('images/worker-3.jpg');">
						<div class="icon d-flex align-items-center justify-content-center" ></div>
					</div>
				</div>
				<div class="col-md-6 py-5 pl-md-5">
					<div class="row justify-content-center mb-4 pt-md-4">
						<div class="col-md-12 heading-section ftco-animate">
							<h2 class="mb-4">Pearl Signs - Business Signage</h2>
							<div class="d-flex about">
								<h3>Since 1990, Pearl Signs has been a trusted leader in the signage industry, proudly serving both business-to-business (B2B) and business-to-consumer (B2C) markets.</h3>
							</div>
							<p>With over three decades of experience, we’ve built a reputation for delivering high-quality signage solutions that combine creativity, durability, and precision. From eye-catching storefront signs and vibrant LED displays to intricate custom designs and large-scale commercial projects, we cater to businesses of all sizes and individual clients with the same level of dedication and care. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</header>