<header>
    <footer class="ftco-footer">
		<div class="container mb-5 pb-4">
			<div class="row">
				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2 d-flex align-items-center">About</h2>
						<p>Best in class signage and Design.</p>
						<ul class="ftco-footer-social list-unstyled mt-4">
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
							<li><a href="https://www.facebook.com/pearlsignsinc/"><span class="fa fa-facebook"></span></a></li>
							<li><a href="https://www.instagram.com/pearlsigns/profilecard/?igsh=eGIwN25sbHo0MzIx"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Links</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-md-4">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Project</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
								<li><a href="services"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Industries</a></li>
							</ul>
							<ul class="list-unstyled ml-md-5">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Help</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Privacy Policy</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Terms of Use</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Services</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Customer Services</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Prompt Delivery</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Reliable Equipment</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New Heavy Equipment</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="fa fa-map-marker mr-3"></span><span class="text"> 190 Silver Star Blvd Unit 15&16, Toronto ON </span></li>
								<li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">+1 416 615 0428</span></a></li>
								<li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">info@pearlsigns.ca</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-primary">
			<div class="container">
				<div class="row">

					</div>
				</div>
			</div>
		</footer>
		
</header>