<header>
    <section class="hero-wrap js-fullheight" style="background-image: url('images/floor-straight.jpg');" data-stellar-background-ratio="0.5">
		<div></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-lg-6 ftco-animate">
					<div class="mt-5">
						<h1 class="mb-4">We Build <br>Your Business</h1>
						<p class="mb-4" style="color: #b89050;">Your business has a story, and our job is to help you tell it. Located in Markham, we’ve built a reputation for creating signage that turns heads, sparks conversations, and drives results.</p>
						<p><a href="services" class="btn btn-primary">Our Services</a> <a href="#" class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">Request A Quote</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>